<!--
  Generated template for the LeaguesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="super">
    <ion-title>Leagues</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="crdDesign">
    <ion-row>
      <ion-col (click)="champions()">
        <ion-card [ngClass]=" flag1==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
            <img src="assets/league/champions.png" />
          </div>
          <p>{{textData[0]}}</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="europa()">
        <ion-card [ngClass]=" flag2==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
          <img src="assets/league/europa.png" />
          </div>
          <p>{{textData[1]}}</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="premier()">
        <ion-card [ngClass]=" flag3==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
          <img src="assets/league/premier.png" />
          </div>
          <p>{{textData[2]}}</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="laLiga()">
        <ion-card [ngClass]=" flag4==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
          <img src="assets/league/laliga.png" />
          </div>
          <p>{{textData[3]}}</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="ligue()">
        <ion-card [ngClass]=" flag5==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
          <img src="assets/league/Ligue.png" />
          </div>
          <p>{{textData[4]}}</p>
        </ion-card>
      </ion-col>
      <ion-col (click)="serieA()">
        <ion-card [ngClass]=" flag6==true ? 'imgCrdDesignOpacity' : 'imgCrdDesign' ">
          <div class="imgDiv">
          <img src="assets/league/serieA.png" />
          </div>
          <p>{{textData[5]}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>



  <ion-item-divider style="background-color: #CFD8DC" >
    <h2 style="color: #37474F">{{showText}}</h2>
  </ion-item-divider>

  <div *ngIf="videosD">
    <ion-card *ngFor="let video of videosD | async"  (click)="openPlaylist(video)" class="playlist-page" >
      <ion-row *ngIf="video.video_detail.url">
        <ion-col col-4 class="playlist-thumb">
          <!--<img src="{{ video.url }}" alt="{{ video.title }}">-->
          <div class="thumbnail">
            <img [src]="video.video_detail.imageurl" />
            <div class="caption">
              <img style="width: 30px;height: 30px;" src="assets/imgs/video.png" />
            </div>
          </div>
        </ion-col>
        <ion-col col-8 text-wrap>
          <div>
            <h4>{{ video.video_detail.title }}</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>


</ion-content>
