<!--
  Generated template for the AllVideosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="super">
    <ion-title>All Videos</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <div ion-fixed style="padding-top: 10px;" *ngIf="!videosD">
    <div align="center">
      <ion-spinner name="circles" style="color: #37474F;border-radius: 50%;"></ion-spinner>
    </div>
  </div>
  <div *ngIf="videosD">
    <ion-card *ngFor="let v of videosD" (click)="openPlaylist(v)" class="playlist-page">
      <ion-row *ngIf="v.videodata.url">
        <ion-col col-4 class="playlist-thumb">
          <!--<img src="{{ video.url }}" alt="{{ video.title }}">-->
          <div class="thumbnail">
            <img [src]="v.videodata.imageurl" onError="this.src = 'assets/imgs/err-sh.png'"/>
            <div class="caption">
              <img style="width: 30px;height: 30px;" src="assets/imgs/video.png"/>
            </div>
          </div>
        </ion-col>
        <ion-col style="padding-top:0px">
          <ion-item no-lines   class="itemheader">
            <h5 style="overflow: hidden;display: -webkit-box !important;white-space: normal !important;-webkit-line-clamp: 2 !important; -webkit-box-orient: vertical !important;">{{ v.videodata.title }}</h5>
          </ion-item>
          <div style="position: absolute;top: 68%;color: #999; font-weight: 300;font-size: 1.2rem;">
            <span>{{v.posttime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <ion-icon ios="ios-eye" md="md-eye"></ion-icon>&nbsp;{{v.viewcount}}&nbsp;Views</span>
          </div>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>
</ion-content>







<!--<ion-content style="background-color: black;" fullscreen>-->
  <!--<ion-card-content *ngFor="let vd of videosD | async;let k=index;" style="padding: 0px 15px 0px 15px;" >-->
    <!--<ion-card-title >-->
      <!--<div class="video-container">-->
        <!--<video (playing)="onPlayingVideo($event,k)" id="vodo" controls="controls" poster="assets/imgs/goal.jpg" class="resize_fit_center" controlsList="nodownload"  webkit-playsinline="webkit-playsinline" class="myPlayer" style="width: 100%;">-->
          <!--<source src="{{vd.url}}" type="video/mp4">-->
        <!--</video>-->
      <!--</div>-->
    <!--</ion-card-title>-->
    <!--<ion-item class="textDesign" no-lines>-->
      <!--<h3 class="ptextDesignB" text-wrap>{{vd.title}}</h3>-->
      <!--<p class="ptextDesign" text-wrap>{{vd.detail}}</p>-->
    <!--</ion-item>-->
  <!--</ion-card-content>-->


<!--</ion-content>-->
