<!--
<ion-header no-shadow no-border>
  <ion-navbar hidden>
  </ion-navbar>
</ion-header>
-->
<ion-content style="background-color: #f8fafb;" fullscreen>

  <div style="margin-bottom: 13px">
    <!--<div ion-fixed style="padding-top: 10px;position: absolute; z-index: 10;" *ngIf="!isLoading">
      <div align="center">
        <ion-spinner name="circles" style="color: #37474F;border-radius: 50%;"></ion-spinner>
      </div>
    </div>-->


    <div style="right: 50%;left: 50%;top: 2%;position: absolute; z-index: 10;" *ngIf="isLoading">
        <ion-spinner name="circles" style="color: #37474F;border-radius: 50%;"></ion-spinner>
    </div>


    <div style="padding-left:15px;padding-right: 15px;padding-top: 5px; position: absolute; z-index: 10;"  (click)="backPage()">
      <ion-icon name="md-arrow-back"  style="color: #fff;font-size: 1.6em"></ion-icon> </div>
      <div class="video-container">
      <!--  <iframe #videoplayer (playing)="onPlayingVideo($event)" [width]="devicewidth" height="204px" [src]="sanitizer.bypassSecurityTrustResourceUrl(playvideo.videodata.iframeurl)" (pause)="pauseEvent($event)"
                frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>-->

        <!--autoplay="autoplay"-->
        <video #videoPlayer (playing)="onPlayingVideo($event)" id="vodo"  (pause)="pauseEvent($event)"  (ended)="endVideo($event)" controls="controls" [poster]="playvideo.videodata.imageurl" class="resize_fit_center" controlsList="nodownload"  webkit-playsinline="webkit-playsinline" class="myPlayer" style="width: 100%;">
          <source src="{{playvideo.videodata.url}}" type="video/mp4">
        </video>
      </div>

    <ion-item no-lines>
      <h3  style="ont-weight: 500;font-size: 1.5rem;" text-wrap>{{playvideo.videodata.title}}</h3>
      <p style="color:#47565d" text-wrap>{{playvideo.videodata.detail}}</p>

      <!--<p  style="color:#47565d"  text-wrap>{{playvideo.created}}</p>-->
    </ion-item>
  </div>

  <div>


    <ion-list *ngFor="let obj of playvideo.goaldata" no-lines>

      <div text-left *ngIf="obj.team=='H'"  style="padding-left: 12px;margin-bottom: 20px">
        <ion-row>
          <ion-col   col-2 style="margin-top: 4px;font-weight: 600;">{{obj.minute}}</ion-col>
          <ion-col col-2><ion-icon name="ios-football" style="font-size: 1.6em;color:rgba(0, 0, 0, 0.73)"></ion-icon></ion-col>
          <ion-col>{{obj.goal}} &nbsp;({{obj.result}})<br/><span style="color: #999;font-size: 1.2rem;" *ngIf="obj.assist">assist by {{obj.assist}}</span></ion-col>
        </ion-row>
      </div>

      <div text-right *ngIf="obj.team=='A'"  style="padding-right: 16px;margin-bottom: 20px">
          <ion-row>

            <ion-col>{{obj.goal}} &nbsp;({{obj.result}})<br/><span style="color: #999;font-size: 1.2rem;" *ngIf="obj.assist">assist by {{obj.assist}}</span></ion-col>
            <ion-col col-2><ion-icon name="ios-football" style="font-size: 1.6em;color:rgba(0, 0, 0, 0.73)"></ion-icon></ion-col>
            <ion-col col-2 style="margin-top: 4px;font-weight: 600;">{{obj.minute}}</ion-col>


          </ion-row>
      </div>

    </ion-list>
   <!-- <ion-list *ngFor="let obj of playvideo.goaldata" no-lines>

      <ion-item *ngIf="obj.team=='H'" text-left>
        <p>{{obj.minute}}&nbsp;&nbsp;<ion-icon name="football"></ion-icon>&nbsp;&nbsp;{{obj.goal}} &nbsp;({{obj.result}}) </p>
         <p style="color: #999;font-size: 1.2rem;padding-left: 47px;">assist by {{obj.assist}}</p>
      </ion-item>

      <ion-item *ngIf="obj.team=='A'" text-right>
        <p>{{obj.goal}} &nbsp;({{obj.result}})&nbsp;<ion-icon name="football"></ion-icon>&nbsp;&nbsp;{{obj.minute}} </p>
        <p style="color: #999;font-size: 1.2rem;padding-right: 47px;">assist by {{obj.assist}}</p>
      </ion-item>
    </ion-list>-->

  </div>





   <!-- <section class="container">
      <div class="left-half">
        <article>
          <ul class="list-ic vertical">
            <li *ngFor="let obj of playvideo.goaldata">
              <span>{{obj.minute}}</span>
              &lt;!&ndash;<ion-icon name="football"></ion-icon>&ndash;&gt;
              <a>{{obj.goal}} &nbsp;({{obj.result}}) </a>
              &lt;!&ndash;<p>assist by {{obj.assist}}</p>&ndash;&gt;
            </li>
          </ul>
        </article>
      </div>
      <div class="right-half">
        <article>
          <ul class="list-ic vertical">
            <li *ngFor="let obj of playvideo.goaldata">
              <span>{{obj.minute}}</span>
              &lt;!&ndash;<ion-icon name="football"></ion-icon>&ndash;&gt;
              <a>{{obj.goal}} &nbsp;({{obj.result}}) </a>
              &lt;!&ndash;<p>assist by {{obj.assist}}</p>&ndash;&gt;
            </li>
          </ul>
        </article>
      </div>
    </section>
-->






</ion-content>
